<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		classpath:/org/springframework/beans/factory/xml/spring-beans-3.0.xsd 
		http://www.springframework.org/schema/context 
		classpath:/org/springframework/context/config/spring-context-3.0.xsd 
		http://www.springframework.org/schema/tx 
		classpath:/org/springframework/transaction/config/spring-tx-3.0.xsd ">


	<!-- ******************************************************************** -->
	<!-- Scan for dao layer annotated beans -->
	<!-- ******************************************************************** -->
	<context:component-scan base-package="com.enterprise.validation" />
	
	
	<!-- ******************************************************************** -->
	<!-- PropertyConfigurer for the DAO -->
	<!-- ******************************************************************** -->
	<context:property-placeholder location="classpath:SpringWeb-validation.properties"  />
	
	
	<!-- ******************************************************************** -->
	<!-- Mark bean transactions as annotation driven -->
	<!-- ******************************************************************** -->
	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>